# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.DS_Store

data/
storage/
.grunt

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

coverage
